/*  
----- Container properties -----
*/
.container-fullwidth {
  width: 100%;
  padding: 1.25rem 0;
}

.container-fullwidth--muted-light {
  width: 100%;
  padding: 1.25rem 0;
  background-color: var(--main-muted-light-color);
}

.container-fullwidth--muted-medium {
  width: 100%;
  padding: 1.25rem 0;
  background-color: var(--main-muted-medium-color);
}

.container-fullwidth--muted-dark {
  width: 100%;
  padding: 1.25rem 0;
  background-color: var(--main-muted-dark-color);
  color: var(--white);
}

.container-fullwidth--accent-red {
  width: 100%;
  padding: 1.25rem 0;
  background-color: var(--main-accent-red-color);
}

.container-fullwidth--accent-orange {
  width: 100%;
  padding: 1.25rem 0;
  background-color: var(--main-accent-orange-color);
}

.container-fullwidth--accent-green {
  width: 100%;
  padding: 1.25rem 0;
  background-color: var(--main-accent-green-color);
}

.container {
  width: 98%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0.5rem;
}

/*  
----- Display / Flexbox properties -----
*/

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/*  
----- Padding & Margin Properties -----
*/

.margin0 {
  margin: 0;
}

.marginbothalf {
  margin-bottom: 0.5rem;
}

.paddinghalf {
  padding: 0.5rem;
}

.padding1 {
  padding: 1rem;
}

.padtophalf {
  padding-top: 0.5rem;
}

.padbothalf {
  padding-bottom: 0.5rem;
}

.padtop1 {
  padding-top: 1rem;
}

.padbot1 {
  padding-bottom: 1rem;
}

.padtop2 {
  padding-top: 2rem;
}

.padbot2 {
  padding-bottom: 2rem;
}

.padsideshalf {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.padsides1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padrighthalf {
  padding-right: 0.5rem;
}

.padlefthalf {
  padding-left: 0.5rem;
}

.padright1 {
  padding-right: 1rem;
}

.padleft1 {
  padding-left: 1rem;
}

/*  
----- Text properties -----
*/

.text-align-center {
  text-align: center;
}

.text-small {
  font-size: 0.65rem;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.text-dark-green {
  color: var(--main-accent-dark-green-color);
}

.text-muted-dark {
  color: var(--main-muted-dark-color);
}

.text-dark-orange {
  color: var(--main-accent-dark-orange-color);
}

/*  
----- Background properties -----
*/

.bg-muted-light {
  background-color: var(--main-muted-light-color);
}

.bg-muted-medium {
  background: var(--main-muted-medium-color);
}

.bg-muted-dark {
  background-color: var(--main-muted-dark-color);
}

.blur {
  height: calc(100% - 55px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(2px);
}

.card-shadow {
  transition: box-shadow 0.3s;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
}

.card-shadow:hover {
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}

/*  
----- Button properties -----
*/

.btn-orange {
  color: var(--main-muted-dark-color);
  background-color: var(--main-accent-orange-color);
}

.btn-orange:hover {
  color: var(--white);
  background-color: var(--main-accent-dark-orange-color);
}

.btn-dark {
  color: var(--main-accent-orange-color);
  background-color: var(--main-muted-dark-color);
}

.btn-dark:hover {
  color: var(--white);
}

.btn-muted-light {
  color: var(--main-muted-medium-color);
  background-color: var(--main-muted-light-color);
}

.btn-muted-light:hover {
  color: var(--white);
  background-color: var(--main-accent-dark-red-color);
}

/*
----- Misc Props -----
*/

.rounded {
  border-radius: 5px;
}
