:root {
  tab-size: 4;
  /* Main Muted Colors */
  --main-muted-light-color: #b3bbb6;
  --main-muted-medium-color: #676163;
  --main-muted-dark-color: #151220;
  /* Main Accent Colors */
  --main-accent-red-color: #fa2d25;
  --main-accent-orange-color: #f99127;
  --main-accent-green-color: #b0cb46;
  /* Main Dark Accent Colors */
  --main-accent-dark-red-color: #960d08;
  --main-accent-dark-orange-color: #823000;
  --main-accent-dark-green-color: #054e21;
}

html {
  box-sizing: border-box;
  /* fall-back font size: font-size bottoms out at 0.95em and vw is how responsive to viwport width */
  font-size: calc(0.95em + 0.75vw);
  /* minimum font-size is 16px (1rem) and maximum font size is 22px */
  font-size: min(max(1rem, 4vw), 22px);
  line-height: 1.15;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.15;
  margin: 0;
}

img,
video,
audio,
iframe,
embed {
  display: block;
  max-width: 100%;
}

img,
video {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a.light {
  text-decoration: none;
  color: var(--main-accent-orange-color);
}

a.dark {
  text-decoration: none;
  color: var(--main-accent-dark-orange-color);
}

button {
  cursor: pointer;
  background-color: white;
  border-radius: 0;
  border: none;
}

button:focus {
  outline: none;
}