.container-navbar {
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: flex;
  justify-content: flex-end;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  min-width: 160px;
  z-index: 1;
}

.dropdown-container.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.show {
  display: flex;
  flex-direction: column;
}
