/* Home Page */
.homepage-logo {
  width: 75%;
}

/* Recipe Page */
.marked {
  color: var(--main-accent-red-color);
}

.unmarked {
  color: var(--main-muted-dark-color);
}

/* Search Page */
.box-tag {
  border-radius: 0;
  color: var(--main-accent-dark-green-color);
  border: 1px solid var(--main-muted-dark-color);
  border-right: 6px solid var(--main-accent-orange-color);
  letter-spacing: 0.2px;
}

.box-tag:hover {
  color: var(--main-muted-dark-color);
  background-color: var(--main-accent-orange-color);
  border-color: var(--main-accent-orange-color);
}

.box-tag.no-hover {
  background-color: var(--white);
  border-color: var(--main-muted-dark-color);
  border-right: 6px solid var(--main-accent-orange-color);
  cursor: default;
  color: var(--main-accent-dark-green-color);
}

.search-result-card-container {
  width: 100%;
}

@media screen and (min-width: 501px) {
  .search-result-card-container {
    width: 48%;
  }
}

.search-result-card-container .card {
  height: 100%;
}

.search-result-card-footer {
  border-top: 1px solid var(--main-accent-dark-green-color);
  letter-spacing: 0.75px;
}
