/* Home Page */
.homepage-header {
  width: max-content;
}
.homepage-logo {
  width: 100%;
  height: auto;
}

/* Create Page*/
.container-create-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-container-input-btn {
  display: flex;
  justify-content: stretch;
  margin-bottom: 12px;
}
.flex-container-input-btn input.amount {
  width: 25%;
  margin-right: 12px;
}
.flex-container-input-btn input.ingredient {
  margin-right: 12px;
}

/* Recipe Page */
.recipe-page {
  width: 96%;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (min-width: 501px) {
  .recipe-page {
    width: 75%;
  }
}

.container-checkbox {
  display: block;
  position: relative;
  padding: 0 35px;
  margin-bottom: 16px;
  cursor: pointer;
  user-select: none;
  font-size: 22px;
  width: fit-content;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--main-muted-light-color);
  transition: all 0.3s;
}
.container-checkbox:hover input ~ .checkmark {
  background-color: var(--main-muted-medium-color);
}
.container-checkbox input:checked ~ .checkmark {
  background-color: var(--main-accent-dark-green-color);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container-checkbox .checkmark:after {
  left: 9px;
  top: 3px;
  width: 8px;
  height: 16px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.container-checkbox .checkmark > span {
  color: var(--main-muted-dark-color);
}
.container-checkbox input:checked ~ .checkmark > span {
  opacity: 0;
}

/* Search Page */
.box-tag {
  border-radius: 0;
  color: var(--main-accent-dark-green-color);
  border: 1px solid var(--main-muted-dark-color);
  border-right: 6px solid var(--main-accent-orange-color);
  letter-spacing: 0.2px;
}

.box-tag:hover {
  color: var(--main-muted-dark-color);
  background-color: var(--main-accent-orange-color);
  border-color: var(--main-accent-orange-color);
}

.box-tag.no-hover {
  background-color: var(--white);
  border-color: var(--main-muted-dark-color);
  border-right: 6px solid var(--main-accent-orange-color);
  cursor: default;
  color: var(--main-accent-dark-green-color);
}

.search-result-card-container {
  width: 100%;
}

@media screen and (min-width: 501px) {
  .search-result-card-container {
    width: 48%;
  }
}

.search-result-card-container .card {
  height: 100%;
}

.search-result-card-footer {
  border-top: 1px solid var(--main-accent-dark-green-color);
  letter-spacing: 0.75px;
}
