#navbar {
  display: flex;
  justify-content: space-between;
}

.btn-drop {
  cursor: pointer;
}

.btn-drop:hover,
.btn-drop:focus {
  opacity: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  min-width: 160px;
  z-index: 1;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.show {
  display: flex;
  flex-direction: column;
}
